# 
pandas 
scikit-learn

# ML Registry
mlflow

# Web Framework
fastapi
uvicorn

# logs
loguru

# Workflow Orchestration
prefect

# Cloud Storage
google-cloud-storage

# Data Viz
matplotlib
seaborn
plotly

# Web 
streamlit